@import "../../styles/variables.scss";

.logo-page {
  background-color: $darkTeal;
  height: 100vh;
}

.wrapper-container {
  margin: auto;
}

.image-wrapper {
  display: inline-block;
}

.happy-troll-logo-page {
  width: 200px;
  margin-left: 75%
}

.trivia-troll-logo-title {
  font-size: 7em;
  margin-top: -35%;
  margin-left: 5%;
  background-color: $lightTan;
  color: $darkTeal;
  border-radius: 20px;
  width: 5em;
  padding: 0.2em 1em;
  font-family: 'Irish grover';
}

.app-description {
  color: $lightTan;
  font-size: 2.5em;
  font-family: 'Irish grover';
}

.enter-game-btn {
  background-color: $primaryBrown;
  border: none;
  border-radius: 15px;
  width: 20vw;
  height: 2em;
  font-size: 3.5em;
  font-family: 'Irish grover';
  color: $lightTan;
  margin-top: 5%;
  margin-left: 27%;
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px $secondaryBrown;
}

.enter-game-btn:hover {
  background-color: $secondaryBrown;
}

.text-wrapper {
  display: inline-block;
  padding-top: 25%;
  margin-left: 17%;
}
