@import "../../styles/varialbes.scss";


.header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  background-color: $darkTeal;
  height: 18vh;
}

.header-text {
  font-size: 4.5em;
  color: $ivory;
  border-radius: 20px;
  width: 37.4375em;
  margin-left: 1.4vw;
  font-family: 'Irish grover';
}

@media only screen and (max-width: 1024px) {
  .header-text {
    font-size: 6.8em;
    text-align: center;
  }
}


@media only screen and (max-width: 768px) {
  .header-text {
    font-size: 4.8em;
    text-align: center;
  }
}


@media only screen and (max-width: 430px) {
  .header-text {
    font-size: 3.5em;
    text-align: center;
  }
}

@media only screen and (max-width: 414px) {
  .header-text {
    font-size: 3.5em;
    text-align: center;
  }
}

@media only screen and (max-width: 375px) {
  .header-text{
    font-size: 2.8em;
    text-align: center;
  }
}

@media only screen and (max-width: 320px) {
  .header-text {
    font-size: 2.8em;
    text-align: center;
  }
}



