.header{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    background-color: #3a5260;
    height: 40vh;
}


.header-text {
  font-size: 7em;
  color: #D8CDA0;
  border-radius: 20px;
  width: 37.4375em;
  height: 9.6875em;
  margin-top: -0.4vh;
  margin-left: 1.4vw;
  font-family: 'Irish grover';
}