.angry-troll-img {
  margin-top: -40vh auto;
  width: 35vw;
  height: 70vh;
  align-self: center;
}


@media only screen and (max-width: 320px) {
  .angry-troll-img {
    width: 35vw;
    height: 20vh;
  }
}