.error-page-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #3a5260;
  height: 100vh;
  flex-direction: column;
}

.error-message {
  font-size: 3.175em;
  color: #f3e6d8;
  border-radius: 20px;
  width: 50%;
  height: 9.6875em;
  font-family: 'Irish grover';
  text-align: center;
}

.return-to-game-btn {
  background-color: #4f453e;
  border: none;
  border-radius: 15px;
  width: 30vw;
  height: 2em;
  font-size: 3.5em;
  font-family: 'Irish grover';
  margin: 3vw;
  color: #dbd9cf;
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px #473a31;
}

@media only screen and (max-width: 1024px) {
  .return-to-game-btn {
    width: 40vw;
    height: 3em;
    font-size: 1.8em;
  }
}


@media only screen and (max-width: 768px) {
  .error-page-container {
    height: 100vh;
    flex-direction: column;
  }
  .error-message {
    font-size: 1.875em;
    width: 85%;
    text-align: center;
  }
  .return-to-game-btn {
    width: 80vw;
    height: 3em;
    font-size: 1.8em;
  }
}

@media only screen and (max-width: 430px) {
  .error-page-container {
    height: 100vh;
    flex-direction: column;
  }
  .error-message {
    font-size: 1.875em;
    width: 85%;
    text-align: center;
  }
  .return-to-game-btn {
    width: 80vw;
    height: 3em;
    font-size: 1.8em;
  }
}
@media only screen and (max-width: 414px) {
  .error-page-container {
    height: 100vh;
    flex-direction: column;
  }
  .error-message {
    font-size: 1.875em;
    width: 85%;
    text-align: center;
  }
  .return-to-game-btn {
    width: 80vw;
    height: 3em;
    font-size: 1.8em;
  }
}

@media only screen and (max-width: 375px) {
  .error-page-container {
    height: 100vh;
    flex-direction: column;
  }
  .error-message {
    font-size: 1.875em;
    width: 85%;
    text-align: center;
  }
  .return-to-game-btn {
    width: 80vw;
    height: 3em;
    font-size: 1.8em;
  }

}

@media only screen and (max-width: 320px) {
  .error-page-container {
    height: 100vh;
    flex-direction: column;
  }
  .error-message {
    font-size: 1.875em;
    width: 85%;
    text-align: center;
  }
  .return-to-game-btn {
    width: 80vw;
    height: 3em;
    font-size: 1.8em;
  }
}