@import "../../styles/varialbes.scss";


.error-page-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #3a5260;
  height: 100vh;
  flex-direction: column;
}

.error-message {
  font-size: 2.175em;
  color: $ivory;
  border-radius: 20px;
  width: 50%;
  height: 9.6875em;
  font-family: 'Irish grover';
}

.return-to-game-btn {
  background-color: $primaryBrown;
  border: none;
  border-radius: 15px;
  width: 30vw;
  height: 2em;
  font-size: 3.5em;
  font-family: 'Irish grover';
  margin: 2vw;
  color: $ivory;
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px $secondaryBrown;
}

.return-to-game-btn:hover {
  background-color: $secondaryBrown 
}

@media only screen and (max-width: 768px) {
  .return-to-game-btn {
    width: 40vw;
    height: 5em;
    font-size: 2.8em;
  }
}

@media only screen and (max-width: 430px) {
  .error-page-container {
    height: 100vh;
    flex-direction: column;
  }
  .error-message {
    font-size: 1.875em;
    width: 85%;
    text-align: center;
  }
  .return-to-game-btn {
    width: 50vw;
    height: 5em;
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 414px) {
  .error-page-container {
    height: 100vh;
    flex-direction: column;
  }
  .error-message {
    font-size: 1.875em;
    width: 85%;
    text-align: center;
  }
  .return-to-game-btn {
    width: 50vw;
    height: 5em;
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 375px) {
  .error-page-container {
    height: 100vh;
    flex-direction: column;
  }
  .error-message {
    font-size: 1.875em;
    width: 85%;
    text-align: center;
  }
  .return-to-game-btn {
    width: 50vw;
    height: 5em;
    font-size: 1.5em;
  }

}

@media only screen and (max-width: 320px) {
  .error-page-container {
    height: 100vh;
    flex-direction: column;
  }
  .error-message {
    font-size: 1.875em;
    width: 85%;
    text-align: center;
  }
  .return-to-game-btn {
    width: 50vw;
    height: 5em;
    font-size: 1.5em;
    font-family: 'Irish grover';
    margin: 2vw;
    color: #dbd9cf;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px #473a31;
  }
}