@import "../../styles/varialbes.scss";

* {
  font-family: 'Irish grover';
}

.end-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  max-height: 100vh;
  overflow: hidden;
}

.end-phrase {
  font-size: 2.25em;
}

.end-score {
  font-size: 2em;
  margin-top: 0%;
}

.return-to-main {
  background-color: $primaryBrown;
  border: none;
  border-radius: 15px;
  width: 20vw;
  height: 2.5em;
  font-size: 2.5em;
  font-family: 'Irish grover';
  color: #dbd9cf;
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px $secondaryBrown;
}

.return-to-main:hover {
  background-color: $secondaryBrown;
  ;
}

.troll-bridge {
  height: 40vh;
}


@media only screen and (max-width: 768px) {
  .end-container {
    height: 80vh;
  }
  .end-phrase {
    font-size: 1.55em;
    text-align: center;
  }
  .return-to-main{
    width: 80vw;
  }
}


@media only screen and (max-width: 430px) {
  .end-container {
    height: 60vh;
  }
  .end-phrase {
    font-size: 1.55em;
    text-align: center;
  }
  .return-to-main{
    width: 80vw;
  }
  .troll-bridge {
    height: 20vh;
  }
}

@media only screen and (max-width: 414px) {
  .end-container {
    height: 60vh;
  }
  .end-phrase {
    font-size: 1.55em;
    text-align: center;
  }
  .return-to-main{
    width: 80vw;
  }
  .troll-bridge {
    height: 20vh;
  }
}

@media only screen and (max-width: 375px) {
  .end-container {
    height: 60vh;
  }
  .end-phrase {
    font-size: 1.05em;
    text-align: center;
  }
  .return-to-main{
    width: 80vw;
    height: 1.5em;
  }
  .troll-bridge {
    height: 20vh;
  }
}



@media only screen and (max-width: 320px) {
  .end-container {
    height: 75vh;
  }
  .end-phrase {
    font-size: 1.25em;
    text-align: center;
  }
  .return-to-main{
    width: 80vw;
    height: 2.0em;
  }
  .troll-bridge {
    height: 25vh;
  }
}

