@import "../../styles/varialbes.scss";


.question-card {
  text-align: center;
  margin-top: 10%;
  background-color: #f3e6d8;
  width: 50%;
  border-radius: 10px;
  font-family: 'Irish grover';
  margin-left: 26%;
  color: $darkTeal;
  font-size: 1.5em;
}

.answer-buttons {
  background-color: #2f2924;
  border: none;
  border-radius: 15px;
  font-family: 'Irish grover';
  color: $lightTan;
  cursor: pointer;
  margin: 5px;
  font-size: 1em;
}

.answer-buttons:hover:hover {
  background-color: $primaryBrown;
}

.next-question-btn {
  background-color: #2f2924;
  border: none;
  border-radius: 15px;
  font-family: 'Irish grover';
  font-size: 1em;
  color: #dbd9cf;
  cursor: pointer;
  margin-bottom: 5px;
}

.next-question-btn:hover {
  background-color: $primaryBrown
}
